* {
    box-sizing: border-box;
}

/* Cambio el tipo de letra, defino el color de fondo */
body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9eaf9;
    color: #ffffff;
    font-size: 14px; 
}

/* Header */
header {
    background: linear-gradient(135deg, #4278A5, #569eda);
    height: 150px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 4%; 
}

/* Logo */
.menu_izquierda {
    display: flex;
    align-items: center;
}

#logo {
    height: 200px; 
    margin: -30px auto 0 auto;
}

.menu_derecha {
    display: flex;
    align-items: center;
    gap: 20px; 
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 10px;
    transition: color 0.3s;
    padding: 5px; 
}

nav a:hover {
    color: #a0bbd1;
}

#usuIcon {
    height: 35px;
    margin-left: 20px;
}

#carritoIcon {
    height: 35px;
}

/* Main */
.contenedor {
    margin-top: 0% auto;
    width: 100%;
    text-align: center;
}

#videoPrimer {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.4;
    position: relative; 
    z-index: 1;
}

.barra-busqueda {
    position: absolute;
    top: 35%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 0;
    border-radius: 30px;
    width: 60%;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.barra-busqueda input {
    width: 50%;
    padding: 10px;
    font-size: 16px; 
    border-radius: 30px;
    outline: none;
    background-color: white;
    color: black;
}

.barra-busqueda button {
    padding: 8px 10px; 
    font-size: 16px; 
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.barra-busqueda button:hover {
    background-color: #a0bbd1;
}

/* Blog Information */
.informacion-blog {
    padding: 40px 20px;
    border-radius: 15px;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
    background-color: #435461;
    color: #ffffff;
    box-shadow: 0px 15px 25px #0000001a;
    transition: transform 0.3s ease-in-out;
}

.informacion-blog:hover {
    transform: translateY(-5px);
}

.informacion-blog h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px; 
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 4px solid #ffffff;
    padding-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.informacion-blog p {
    font-size: 18px; 
    line-height: 1.6;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 20px;
}

/* Novedades Section */
.titulo-noticias {
    position: relative;
    text-align: center;
}

.titulo-noticias h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 35px; 
    color: #ffffff;
    background-color: #435461;
    padding: 2% 28%;
    display: inline-block;
    border-radius: 10px;
    position: relative;
    transform: translateY(-50%);
    box-shadow: 0px 10px 15px #0000004d;
    border: 4px solid #8ec2ec;
    z-index: 100;
}

#noticias {
    background-color: grey;
    padding: 7px 35px 67px;
    border-radius: 15px;
    background: linear-gradient(135deg, #4278A5, #8ec2ec);
    position: static;
    overflow: hidden;
}

/* Noticias */
.contenedor-noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 2%; 
    width: 90%;
    margin: 0% auto;
}

.noticia {
    background-color: #cccccc;
    border-radius: 10px;
    padding: 15%; 
    text-align: center;
    color: white;
    border-radius: 15px;
    background: linear-gradient(135deg, black, #435461);
    transition: transform 0.5s;
}

.noticia:hover {
    transform: scale(1.05);
}

.noticia img {
    width: 100%;
    border-radius: 10px;
}

.noticia h3 {
    font-size: 24px; 
    margin: 15px 0;
    font-family: 'Orbitron', sans-serif;
}

.noticia p {
    font-size: 18px; 
    color: white;
    margin-top: 10%;
}

/* PROMOCIÓN */
#promocion {
    background-color: #435461;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    height: 600px;
    margin-top: 76px;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

#promocion:hover {
    transform: translateY(-5px);
}

#videoPromocion {
    width: 50%;
    height: 100%; 
    object-fit: cover; 
    box-shadow: 0px 5px 15px rgba(18, 78, 216, 0.3);
}

.texto-promocion {
    overflow: hidden;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; 
    padding-left: 1%;
}

.texto-promocion h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px; 
    color: #ffffff;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.texto-promocion h1::before {
    content: "✦";
    color: gold;
}

.texto-promocion h1::after {
    content: "✦";
    color: gold;
}

.texto-promocion h2 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px; 
    color: #f2f2f2;
    margin: 10px 0;
}

.texto-promocion p {
    font-size: 15px;
    color: #dddddd;
    line-height: 1.6;
}

.texto-promocion a {
    font-size: 15px; 
    color: #dddddd;
    line-height: 1.6;
}

.texto-promocion a:hover {
    transform: scale(1.05);
    color: white;
}

/*FOOTER*/
footer {
    background-color: #4278A5;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-content p {
    margin: 5px 0;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px; 
}

.footer-content a {
    color: #a0bbd1;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.menu_izquierda {
    animation: girar 3s infinite;
}

@keyframes girar {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    }
}
