/*Ajustar tamaño de todas las cajas*/

*{
    box-sizing: border-box;
}


/*Estilo de fuentes en todo el cuerpo de la página: cambria y todo en negrita (bold) y de color azul*/


body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: blue;
}



/*Barra de nevagcion, cabecera, contendor y pie de página, deben de tener un ancho máximo de 12000x.Centrar horizontalmente estos elementos*/


nav, header, .contenedor, footer{
    max-width: 12000x;
    text-align: center;
}



/*Barra de navegacion con color de fondo azul, color de letra rosa
Tamaño de letra 1.4 em
Padding 10px
Debe responder a scroll, pero no desaparecer de la página (se queda pegada al extremo superior)
*/

nav{
    background-color: blue;
    color: pink;
    font-size: 1.4em;
    padding: 10px;
    position: sticky;
    top:0px;
    z-index: 1000;
    overflow-y: auto;
}


/*Elementos de la barra de navegacion*/


.nav-item{
    float: left;
    margin-left: 20px;
    padding: 5px;
}




/*Estilos de la cabecera: posicionada y centrada*/


header{
    position: relative;
}

header img{
    width: 100%;
}


/*Banner compra aqui
Color de fondo y de letra el mismo que antes
Se debe posicionar respecto a su padre
Separada un 15% de su derecha y un 30% de arriba
Con un ancho del 20%
*/


#banner{
    background-color: blue;
    color: pink;
    position: absolute;
    width: 20%;
    right: 15%;
    top: 30%;
    border-radius: 10px;
}





/*
El enlace del banner debe de cambiar de color cuando pasar el ratón por encima
*/


#banner a:hover{
    color: white;
}



/*
El elemento principal, esta centrado horizontalmente. Tiene un ancho del 80%
*/


main{
    margin: 0px auto;
    width: 80%;
}
h1{
    text-align: center;
}


/*Kineas de separacion, despues del h1 del main y despues del main*/


main h1::after, main::after{
    background-color: palevioletred;
    display: block;
    content: "";
    height: 2px;
    width: 30%;
    margin: 0px auto;
    margin-top: 30px;
}



/*Manejo de desbordamiento (el main es mas pequeño que su contenido)*/


.fip {
    overflow-y: auto;
}


/*Colocación de cada uno de los divs de las imagenes de la Federacion de Padel*/

.fip .fip-item{
    float: left;
    padding: 20px;
    text-align: center;
    width: 33%;
}



/*Ajuste de ancho a 189px y alto a 265px de las imagenes de los fip-item*/

.flip-item{
    width: 189px;
    height: 265px;
}




/*
La seccion de las palas se ajusta al 70% del ancho de su contenedor padre
centrada horizontalmente
Se debe manejar el desbordamiento en altura
*/


.pala{
    width: 70%;
    margin: 30pxpx auto;
    overflow-y: auto;
}



/*Se deben de colocar los elementos de tal forma que floten con respecto a la imagen
La imagen tiene un ancho del 20% y guarda un margen izquierdo del 10%
*/


.pala img{
    float: left;
    width: 20%;
    margin-left: 10%;
}

/*Los elementos que hay dentro de la seccion, flotan con la imagen
Tienen un margen superior del 20% y un ancho del 50%
El texto está justificado
*/

.pala div {
    float: left;
    margin-top: 20px;
    text-align: justify;
    width: 50%;
}



/*La primera linea de texto que hay en los div que estan en la clase pala, deben de ser:
el doble de grandes de la fuente
del color rosa usado previamente
en negrita
recuadrados solamante en el borde derecho e inferior con bordes de 1px, continuo y de color azul,
ademas deben de guardar un margen derecho (continuacion de línea) de 10px y padding derecho de 10px*/


.pala div::first-letter{
    border-right: 1px solid #121867;
    border-bottom: 1px solid #121867;
    font-size: 200%;
    color: pink;
    font-weight: bold;
    margin-right: 10px;
    padding-right: 10px;
}





/*La galeria de imagenes debe de estar centrada horizontalmente (guarda 20px de margen superior e inferior)
Manejo de desbordamiento en altura
Tiene un ancho del 70%
*/

.imagenes{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    width: 70%;
}



/*Colocacion de las imagenes de la galeria que deben de tener un ancho cada una del 20%*/


.imagenes img{
    width: 20%;
}





/*Estilos del pie de pagina, es un elemento NO flotante
Manejo de desbordamiento*/


footer{
    background-color: #121867;
    color: palevioletred;
    clear: both;
    font-weight: bold;
    font-size: 0.8em;
    overflow-y: auto;
}





/*Estilos del div de la direccion. Definir altura y anchura*/


footer .direccion {
    background-color: #121867;
    color: palevioletred;
    float: left;
    text-align: center;
    width: 20%;
    height: 100%;
    

}




/*Colocar y dimensionar adecuadamente el icono de la red social de instagram*/

footer .redes {
    float: right;
    background-color: #121867;
    color: palevioletred;
    width: 80%;
}

.redes img {
    float: right;
    width: 2%;
    height: 2%;
}