
.contenedor {
    display: inline-block;
  }
  
  button {
    display: inline-block;
    align-items: center;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton1 {
    background: linear-gradient(45deg, #2d81da, #adc9e9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .boton2 {
    background: linear-gradient(45deg, #747491, #dfdfe6);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .boton3 {
    background: linear-gradient(45deg, #5dda4d, #9fee9f);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .boton4 {
    background: linear-gradient(45deg, #e0ce28, #f5db9e);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
  .boton5 {
    background: linear-gradient(45deg, #d8241e, #f09191);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    filter: brightness(1.2);
  }
  

  