   
   /*
   Usando selectores:
   El primer producto (destacado)
   Tiene padding de 15px
   Margen inferior de 20px
   Texto alineado al centro
   Color de fondo "lightblue"
   */

.producto_destacado{
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    background-color: lightblue;
}


/* Usando selector de hermano, el segundo producto esta encuadrado con un borde de 2px continuo y de color
rojo
Centrar texto
*/

.producto_destacado+div{
    
    border: 2px solid red;
    text-align: center;
}



/* Usando selector de hermano, el tercer producto tiene un margen superior de 15px
rojo 
Centrar texto
*/

.producto+div{
    margin-top: 15px;
    text-align: center;
}




/* Pseudoselectores de estado:
Al pasar raton por el boton cambia el color de fondo a verde y la letra blanca */


button:hover{
    background-color: green;
    color: white;
}



/* Usando pseudoselectores de posición:
el segundo producto tiene color de fondo amarillo y el tercero naranja */


.producto_destacado+div{
    background-color: yellow;
}

.producto+div{
    background-color: orange;
}



/* Pseudo-elementos
Antes y despues de cada h2 añadir ★
*/


h2::before{
    content: "★";
    color: gold;
}

h2::after{
    content: "★";
    color: gold;
}





/*Usando pseudoselectores de posicion y pseudoelementos, incluir al final del ultimo producto la
palabra: ¡Oferta! */








/*Usando pseudoelementos: la primera letra de Descripcion es de 1.5em y en negrita*/


.descripcion::first-letter{
    font-size: 1.5em;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
}




/*Estilos del cuerpo
Fuente: Arial con interlineado de 1.6.
Color de fondo #f4f4f4
*/


body{
    font:100% Arial;
    background-color: #f4f4f4;
}





/*La cabecera::
color de fondo #333
color de texto blanco
texto alienado en el centro
con un padding de 15px inferior y superior y 0 a los lados
*/


header{
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

/*La parte principal de la web
Un padding de 20px
Un ancho MAXIMO de 800px
Se centra horizontalmente
*/

main{
    padding: 20px;
    width: 800px;
    text-align: center;
}

/*El pie de pagina
Color de fondo #333
Color de texto blanco
Texto alineado en el centro
con un padding de 20px inferior y superior y 0 a los lados
Alejado (margen) del elemento superior 20px
*/

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}
