

img{
    width: 50px;
    height: 50px;
}


.encabezado{
    background-color: red;
    color:white;
}

.imagenes{
    background-color: blue;
}

.gb{
    
    font-size: xx-large;
    background-color: grey;
}

.colores_lista{
    color:red;
}

.dos_colores{
    background-color: blue;
    color:red;
}

.pulgadas{
    background-color: blue;

}

.una_hora{
background-color: blue;
}

#cinco_horas{
    background-color: yellow;
    padding-top: 60px;
    padding-bottom: 60px;
}

.minutos{
    background-color: blue;
}

